body {
  background-color: #e6f3ff;
  padding: 12%;
}

header {
  margin-left: 40px;
}

.p::first-letter {
  font-size: 30px;
  font-weight: bold;
}

.message {
  color: blueviolet;
  font-style: italic;
}

.message:hover {
  color: aqua;
  font-weight: bold;
}

span {
  color: darkred;
  font-weight: bold;
}

.cup-cake {
  float: right;
}

.price-topic {
  font-size: 25px;
  font-weight: bold;
  padding-top: 150px;
}

table {
  border: 1px solid black;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 16px;
}

footer {
  background: orange;
  color: black;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 3px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
